* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: "Oxygen", sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    letter-spacing: 1px;
}

header {
    background-color: rgb(104, 130, 158);
    color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
}

.navigation {
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(104, 130, 158);
    color: #f2f2f2;
    width: 100%;
}

.navigation a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 33px;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
}


/* indicate which link mouse is hovering over */


/* hover selector from https://www.w3schools.com/cssref/sel_hover.asp */

.navigation a:hover {
    background-color: #f2f2f2;
    transition-duration: 0.10s;
}


/* indicate which subpage a user is on by highlighting the background */

.currentMaintain {
    background-color: #AEBD38;
}

.currentPlant {
    background-color: #AEBD38;
}

.currentPick {
    background-color: #AEBD38;
}

.currentHome {
    background-color: #AEBD38;
}

#subscribe {
    padding: 15px;
    color: #f2f2f2;
    background: rgb(104, 130, 158);
    height: 95px;
}

#subscribe h1 {
    float: left;
}

#subscribe form {
    float: right;
    margin-top: 15px;
}

#subscribe input[type="email"] {
    padding: 4px;
    height: 35px;
    width: 400px;
}

.subscribeButton {
    height: 38px;
    background: rgb(174, 189, 56);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #f2f2f2;
}

footer {
    color: #f2f2f2;
    background-color: #35424a;
    text-align: center;
    padding: 1px;
    height: 40px;
    font-size: 12px;
}

.box {
    background-color: #35424a;
    color: #f2f2f2;
    border-radius: 5px;
    border: solid 5px #598234;
    padding: -20px;
    font-size: 150%;
    order: 1;
    text-align: center;
}


/* Create and style 12 grid boxes*/

.container {
    display: grid;
    width: 1460px;
    grid-template-columns: repeat(6, 243.3px);
    height: 790px;
    grid-template-rows: repeat (2, 300);
    grid-gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5px;
}


/* alternate boxes */

.box1 {
    order: 3;
}

.box2 {
    order: 2;
}

p {
    font-size: 15px;
    font-size: bold;
    color: #f2f2f2;
    letter-spacing: 1px;
}


/* remove hyperlink color */

a {
    text-decoration: none;
    color: #f2f2f2;
}


/* fill div with image */


/* how to fill div at https://stackoverflow.com/questions/11757537/css-image-size-how-to-fill-not-stretch */

.cover {
    object-fit: cover;
    width: 100%;
}


/* standardize picture heights */

img {
    height: 300px;
}

h5 {
    font-weight: normal;
    font-size: 23px;
}